.update-collateral-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #F7A137;
    margin: 0 2rem 1.5rem 0;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    color: #292C3A;
    text-transform: uppercase;
    font-weight: bold;
    transition: .2s;
}

.update-collateral-btn:active, .update-collateral-btn:focus {
    outline: none;
}

.update-collateral-btn:hover {
    background-color: #BF7C2A;
    color: #E4E8F2;
}

.update-collateral-btn:active {
    transform: translateY(2px);
}
