.wallet-card {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.4rem;
    min-width: 200px;
    margin: 0 0.5rem 0.5rem 0;
    background-color: #1E222F;
    border-radius: 0.3rem;
    transition: .2s;
    cursor: pointer;
}

.wallet-card:last-child {
    margin-right: 0;
}

.wallet-card:hover {
    transform: translateY(-2px);
}

.wallet-card__head {
    display: flex;
    justify-content: space-around;
}

.wallet-card__currency {
    margin: 0;
    padding: 0;
}

.wallet-card__collateral {
    background-color: #343A4D;
    border-radius: 0.3rem;
}

.wallet-card__collateral-input {
    background-color: transparent;
    border: none;
    color: #E4E8F2;
    padding: 0.2rem 1rem;
    width: 100px;
}

.wallet-card__progress-bar-container {
    padding: 1rem 0;
    display: flex;
}

.wallet-card__progress-bar-value {
    background-color: #343A4D;
    font-size: 0.8rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.wallet-card__balances {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8rem;
}

.wallet-card__balance {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #6B6F7E;
}

.wallet-card__reserved-balance {
    background-color: #343A4D;
    border-radius: 0.3rem;
}

.wallet-card__reserved-balance-input {
    background-color: transparent;
    border: none;
    color: #E4E8F2;
    padding: 0.2rem 1rem;
    width: 100px;
}

.wallet-card__icon {
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
}
